<html>
<head>
    <title>Home</title>
</head>
<body>
<h1>你好! This is a Velocity.</h1>

#set($file = "macro.vm")

#parse($file)

$render.eval($ctx,"#h()")

<P>The time on the server is $serverTime.</P>

<p>Here are some items:</p>
<ul>
#foreach( $item in $someItems )
    <li>$item</li>
#end
</ul>

<p>$person.name</p>
<p>$person.age</p>

<p><a href="static.txt">A static file.</a></p>

</body>
</html>
